@import url('https://fonts.googleapis.com/css2?family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&family=Work+Sans:ital,wght@0,100..900;1,100..900&display=swap');


.work-sans-font {
     font-family: "Work Sans", sans-serif;
     font-optical-sizing: auto;
     font-weight: 400;
     font-style: normal;
}

body {
     background-color: #1A0B2E;
}

* {
     margin: 0;
     padding: 0;
     box-sizing: border-box;
     font-family: "Inter", sans-serif;
}

/* Navbar style */
.container-nav {
     width: 100%;



}

.navbar {
     height: 92px;
     display: flex;
     flex-direction: row;
     justify-content: space-between;
     align-items: center;
     padding: 16px 200px;
}

.techwave {
     font-size: 35px;
     color: white;
}

.wave {
     color: #DB489F;
}

.nav-links {
     display: flex;
     gap: 32px;
     list-style: none;

}

.nav-links a {
     text-decoration: none;
     color: white;
     font-size: 16px;
}

.btn {
     background: linear-gradient(to right, #F7E93F, #FB09B4, #9100F8);
     border: 0.2px solid pink;
     border-radius: 1000px;
     padding: 12px;
     font-size: 1rem;
     color: #FFFFFF;
     width: 135px;
     height: 44px;
     cursor: pointer;
}

.bt {
     cursor: pointer;
}

.bt:hover {
     background-color: rgb(252, 1, 1);
     color: #2fff00;
     border-radius: 5px;
}

.btn-1 {
     background: linear-gradient(to right, #F7E93F, #FB09B4, #9100F8);
     display: flex;
     flex-direction: row;
     padding: 12px;
     font-size: 1rem;
     color: #FFFFFF;
     border-radius: 10000px;
     gap: 8px;
     padding: 12px 20px;
     width: 201px;
     height: 44px;
}

.nav-btn {
     display: flex;
     gap: 8px;

}

/* banar sectio  */
.banner-section {
     width: 100%;
     height: 100%;
     background-image: url(/assets/hero-bg.png);
     background-size: cover;
     background-repeat: no-repeat;
     display: flex;
     flex-direction: column;
     align-items: center;
     justify-content: center;
}

.section-img {
     display: flex;
     justify-content: center;
     align-items: center;

}

.preant-img {
     position: relative;
     margin-top: 100px;

}

.microphone {
     position: absolute;
}

.new {
     position: relative;
     top: -140px;
     margin-left: -90px;
     background-color: #00FF88;
     border-radius: 16px;
     padding: 8px;
     font-size: 18px;
     font-weight: 700;
     width: 100%;
     height: 100%;

}

.tech-text {
     text-align: center;
     color: white;
     margin-top: 40px;
     font-size: 60px;
}

.banner-description {
     font-size: 16;
     font-weight: 400;
     color: white;
     margin-top: 8px;
}

.subscribe-btn {
     display: flex;
     gap: 8px;
     border: 1px solid #00FF88;
     border-radius: 40px;
     padding: 12px 20px;
     background: none;


}

.subscribe-btn {
     color: #00FF88;
     font-size: 16px;

}



.spotify-btn {
     margin-top: 24px;
     display: flex;
     gap: 16px;
     justify-content: center;
     border
}